.weather__head--left{
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 10px #3d3d3d;
}

.current__temp{
    color: #fff;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 10px;
    
}

.current__status{
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

.current__details{
    list-style-type: none;
    display: flex;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    justify-content: space-around;

    @at-root &--style{
        color: #fff;
        text-align: center;
        font-weight: 600;
        font-size: 0.9rem;
        position: relative;
        width: 50%;

        &:not(:last-child):after{
            content: '';
            height: 100%;
            width: 2px;
            background: #fff;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    @at-root &--small{
        font-size: 0.8rem;
        font-weight: 500;
    }
}


