.weather{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #666;
    
    @at-root &__head{
        display: flex;
        flex-wrap: wrap;
        background: url('./images/weatherBG.png'), linear-gradient(0.25turn, #79B5BD 40%, #1b237c);
        background-repeat: no-repeat;
        min-height: 15.6rem;
        border-radius: 15px 15px 0 0;
        @at-root &--left{
            display: flex;
            flex-wrap: wrap;
            width: 33%;
            order: 1;
            flex-direction: column; 
        }
        @at-root &--right{
            display: flex;
            flex-wrap: wrap;
            order: 2;
            width: 66%;
        }
    }

    @at-root &__body{
        display: flex;
        flex-wrap: wrap;
        background: #ededed;
        min-height: 18.75rem;
        border-radius: 0 0 15px 15px;
        @at-root &--left{
            display: flex;
            order: 1;
            width: 33%;
            position: relative;
            flex-direction: column;
            &::after{
                content: '';
                width: 3px;
                height: 80%;
                position: absolute;
                background: #2b1599c7;
                right: 0;
                top: 10%;
            }
        }
        @at-root &--right{
            display: flex;
            flex-wrap: wrap;
            width: 66%;
            order: 2;
        }
    }
}

@media (max-width: 576px) {
    .weather{
        @at-root &__head{
            flex-direction: column;
            padding: 20px;
            @at-root &--left{
                width: 100%;
                order: 2;
            }
            @at-root &--right{
                width: 100%;
                order: 1;
                margin-bottom: 20px;
            }
        }

        @at-root &__body{
            padding: 20px;
            @at-root &--left{
                width: 100%;
                order: 2;
                &::after{
                    display: none;
                }
            }
            @at-root &--right{
                width: 100%;
                order: 1;
                margin-bottom: 20px;
            }
        }
    }
}

