.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main{
  max-width: 970px;
  margin: auto;
  height: 100vh;
  display: flex;
}

body{
  background: linear-gradient(217deg, hsl(204deg 77% 52% / 73%), rgba(255,0,0,0) 70.71%), 
    linear-gradient(127deg, rgb(163 74 192), rgba(0,255,0,0) 70.71%), 
    linear-gradient(360deg, #ffeb3b, rgba(0,0,255,0) 70.71%);
  height: 100vh;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  main{
    height: auto;
    padding: 20px;
  }
  body{
    height: auto;
  }
}